body {
  background-color: #999;
}
.hot-top1 {
  background-color: #FFF;
  margin-top: 150px;
  margin-left: 400px;
  height: 300px;
  width: 200px;
  position: relative;
}
.hot-top1 .tv_name {
       z-index:2; position:absolute; 
       bottom:0; left:0; width:100%; 
       height:22px; line-height:22px;
       //下面IE8以下可能会重叠效果filter
       //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000); 
       background: rgba(0,0,0,0.6); 
       zoom: 1; text-indent:10px; 
       color:#fff;overflow: hidden;
}
.hot-top1 .ico {
        display: none;_display: block;
        position: absolute;top: 50%;left: 50%;
        margin: -22px 0 0 -22px;
        width: 44px;height: 44px;
        _width: 0;_height: 0;
        background-image:url(http://www.movie.com/Public/IMG/play.png);
        background-repeat:no-repeat;
        background-position:center center;
}
.hot-top1 a {
  display: block;
  position: relative;
}
.hot-top1 a img {
  width: 100%;
  height: 250px;
}
.hot-top1 a:hover .bg-img {
  display: block;
  width: 100%;
  height: 100%;
}

.hot-top1 a:hover .ico {
  display: block;
  _width: 44px;
  _height: 44px;
}

.hot-top1 .bg-img{
  display: none;
  _display: block;
  position: absolute;
  top: 0;left: 0;
  width: 100%;height: 100%;
  _width: 0;_height: 0;
  background-color: #000;
  filter: alpha(opacity=40);
  opacity: 0.4;
}

.hot-top1 .ico{
  _background: none;filter: 
  progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="http://www.movie.com/Public/IMG/play.png");
}